.container {
    border: 1px solid gray ;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/021/894/025/original/nadir-khabibullin-f1.gif?1573340645);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 170px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.image {
    width: 120px;
    
}


.buttonContainer{
    
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: salmon;
    color: white;
    border: 0px;
    border-radius: 2px;
}

.dataContainer{
    text-align: center;
    padding: 10px;
}

.dataContainer h2{
    margin: 2px;
    font-size: 16px;
    color: rgb(72, 193, 193);
}

.dataContainer h4{
    margin: 2px;
    font-size: 14px;
    color: rgb(38, 123, 123);
}

.favorite {
    display: flex;
    justify-content: flex-start;

}