.dataContainer{
    display: flex;
    margin: auto;
    width: 20%;
    margin-top: 40px;
    color: white;
    background-color: grey;
    padding: 24px;
    border-radius: 10px;
}
.dataContainer input{
    border-radius: 5px;
    height: 20px;
}

.dataContainer button{
    border-radius: 5px;
    height: 25px;
    background-color:  rgb(38, 123, 123);
    color: white;
    padding: 0 10px;
    font-size: 10px;
    border: 0px;
}
.error {
    color: red;
}