

.dataContainer {
    background-image: url('https://media2.giphy.com/media/zPlGxzu027rEELiCFr/200.gif');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    /* Agrega cualquier otro estilo deseado para el contenedor */
  }